extends ../layout/index

block styles
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")

block contenido
    .py-10
        h2.text-center.text-2xl.font-extrabold= pagina
        p.text-xl.font-bold.text-center.my-10= mensaje
        div(class="max-w-screen-xl mx-auto font-bold uppercase")
            p= `ID del Reporte: ${reporte.id}`
            p= `Descripción: ${reporte.descripcion}`
            p= `Prioridad(nivel de ruido detectado): ${reporte.nivelRuido}`
        
            .border-gray-200.border-t.py-5.space-y-5
                .text-sm.leading-6.font-bold.text-gray-900.uppercase.text-center Ubicación del Reporte
                  p= `Dirección: ${reporte.calle}`
                #mapa.h-96
                div
                    //p.calle= reporte.calle
                    input(type="hidden" name="calle" id="calle" value= reporte.calle)
                    input(type="hidden" name="lat" id="lat" value= reporte.lat)
                    input(type="hidden" name="lng" id="lng" value= reporte.lng)
                    // Verificar si hay imágenes disponibles
                    if imagenes && imagenes.length > 0
                      .carousel.w-full
                        each imagen in imagenes
                          .carousel-item.w-full.flex.items-center
                            img(src=imagen, alt='Imagen', class='mx-auto rounded', style='object-fit: cover; width: 800px; height: 500px;')
                    else
                      p No hay imágenes disponibles en formato pug con este ejemplo

                    .flex.justify-center.w-full.py-2.gap-2
                      each _, index in imagenes
                        a(href=`javascript:void(0);`, class='btn btn-xs', data-target=index) #{index + 1}

                        
                        script.
                          document.addEventListener('DOMContentLoaded', function () {
                            var $carousel = $('.carousel');
                            
                            $carousel.slick({
                              arrows: false, // Oculta las flechas de navegación
                              dots: false, // Oculta los dots (números)
                              infinite: true,
                              speed: 300,
                              slidesToShow: 1,
                              adaptiveHeight: true,
                            });

                            $('.btn').on('click', function () {
                              var targetIndex = $(this).data('target');
                              $carousel.slick('slickGoTo', targetIndex);
                            });
                          });

                      else
                        p No hay imágenes disponibles en formato pug con este ejemplo
        

block scripts
  script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
  script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
  script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")
  script(src="/js/admin.js")
  script(src="https://code.jquery.com/jquery-3.6.4.min.js")
  script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        
